<!-- Old Code -->

<!--
{% load i18n %}

{% block content %}

<form method="post" action=".">
  
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
-->

<h1>{% trans "Password Reset "%}</h1>

<p>{% trans "Forgotten your password? Enter email address below, "%}</p>

<form method="post" action="">
  
  {% csrf_token %}
  {{ form.email.errors }}

  <p>
  	<label for="id_email">{% trans 'Email Address:' %}</label>  {{ form.email }}
  	<input type="submit" value="{% trans 'Reset my password'%}"/> </p>
  </p>

</form>
