
{% load static %}

	
		<!-- Common Header -->

		{% include "common-header.html" %}

		<!-- Common Header Endeed -->


		<!-- Banner Images With Flexslider -->
                      
		<div id="container" class="cf">
    
		<div id="main" role="main">
	      	<section class="slider">
	        	<div class="flexslider">
	          		<ul class="slides img-banner">
			            <li>
			  	    	    <img style="width:1460px; height:378px;" src="{% static 'assets/images/banner/about_img.jpg' %}" />
			  	    	</li>  	    
			            <li>
			  	    	   	<img style="width:1460px; height:378px;" src="{% static 'assets/images/banner/accounting_banner.png' %}" />
			  	    	</li>
		  	    		<li>
		  	    	    	<img style="width:1460px; height:378px;" src="{% static 'assets/images/banner/BOSS-Homepage-Banner.jpg' %}" />
		  	    		</li>
		  	    		<li>
		  	    	    	<img style="width:1460px; height:378px;" src="{% static 'assets/images/banner/Website_Banner_2.jpg' %}" />
		  	    		</li>		
	          		</ul>
	        	</div>
	      </section>
	    </div>

	</div>

	<div class="container_12">
		<div class="grid_12">
			<div class="slogan">
				ACCOUNTING AND BOOKKEEPING SERVICE OFFERINGS
				<!--<a href="#" class="btn">more</a>-->
			</div>
		</div>
		<div class="slogan_desc">
			<p>How much more profitable could your business be if you had the time to focus on the actual business instead of handling a range of administrative tasks? Reale offers you options for better management of your accounting and bookkeeping functions.</p>
			<p>
			Leverage the advanced technical expertise of our team members to help you realize increased profitability through efficiency gains and robust accounting and bookkeeping solutions which allow you to minimize the time you spend on these functions. </p>
			<p>Timely, cost effective, scalable solutions from Reale translate to business growth for your company.</p>
		</div>
	</div>
		<div class="container_12">
			<section class="grid" id="grid">
				<a href="http://127.0.0.1:8000/services" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
					<figure>
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
						<figcaption>
						<div class="title">Bookkeeping</div>
						</figcaption>
					</figure>
					<span>more</span>
				</a>
				<a href="http://127.0.0.1:8000/services" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
					<figure>
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
						<figcaption>
							<div class="title">Accounting</div>
						</figcaption>
					</figure>
					<span>more</span>
				</a>
				<a href="http://127.0.0.1:8000/services" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
					<figure>
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
						<figcaption>
						<div class="title">Payroll</div>
						</figcaption>
					</figure>
					<span>more</span>
				</a>
				<a href="http://127.0.0.1:8000/services" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
					<figure>
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
						<figcaption>
						<div class="title">Tax</div>
						</figcaption>
					</figure>
					<span>more</span>
				</a>
			</section>
		</div>
		<!--==============================Content=================================-->
		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 24, 2014!</div>
		
		<div class="slogan">
					WHY WORK WITH US<br>
					<!--<a href="#" class="btn">more</a>-->
				</div>
			<div class="container_12">
			<div class="grid_6">

					<img src="{% static 'assets/images/page4_img.jpg' %} " alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">Integrity and Quality of Service</div>
						<p>Our teams of experienced accountants and bookkeepers are dedicated to providing the highest quality service to every client, 
						on every assignment. We are proud that 80% of our business comes from client referrals including CPAs, and over 95% of our clients 
						renew their services annually with us.
						</p>
					</div>
				</div>
				<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page4_img.jpg' %}" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">Latest Technology & Proprietary Tools</div>
						<p>We deploy proven systems and technology tools for managing our clients’ accounting and bookkeeping engagements. 
						With automated processes and a cloud-based accounting portal, delivery times are expedited, our response time to client inquiries 
						is faster, and data accuracy is ensured throughout every step of the process.
						</p>
					</div>
				</div>
				</div>
				</div>
				<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page4_img.jpg' %}" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">We Can Recommend New Systems or Work with Your Pre-existing Accounting Software</div>
						<p>REALE works with clients to identify, implement or upgrade accounting information systems based on their unique needs. 
						We can also integrate existing accounting software into our systems, 
						including QuickBooks, Peachtree, Great Plains, Intacct and many other applications</p>
					</div>
				</div>
				<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page4_img.jpg' %}" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">We Improve and Streamline Your Workflows</div>
						<p>Our accounting processes can reduce our clients’ monthly workload by 20%-30%,
						depending on the project. We replace dated, manual, and untimely bill collection and submission functions with proven, 
						automated systems that align with the unique needs of our clients.
						</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="slogan">
					WHY OUTSOURCE<br>
					<!--<a href="#" class="btn">more</a>-->
				</div>
			<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page1_img1.jpg' %}" alt="" class="img_inner fleft">
					<div class="title1">Save Time and Money</div>
					<div class="extra_wrapper">
						
						<p>The top three reasons businesses outsource are cost savings, absence of local professionals with required talent,
						and ability to leverage an efficient, established technological infrastructure. Studies indicate that a company can
						save approximately 40% on operational costs by outsourcing. Outsourcing also provides businesses with access to the same secure, 
						technological platforms used by larger companies without needing to invest heavily themselves or worry about the associated 
						information security requirements.</p>
					</div>
				</div>
				
			<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page1_img1.jpg' %}" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">Scale Quickly</div>
						<p>End-to-end outsourcing companies offer a range of services and instant access to individuals with 
						the talent and skill-sets that can be leveraged at any time to support the changing accounting and bookkeeping needs of growing companies.
						</p>
					</div>
				</div>
			</div>
			<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page1_img1.jpg'%}" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">Pay For What You Need</div>
						<p>Companies have the ability to adjust the level of support or services required, 
						based on their financial resources. Whether you require full-time expertise in a specific area or require
						our services for only a few hours monthly on a project basis, Reale allows you to adjust the level of support your business needs when you need it, 
						including support for online accounting solutions and cloud based accounting solutions.</p>
					</div>
				</div>
				<div class="container_12">
				<div class="grid_6">
					<img src="{% static 'assets/images/page1_img1.jpg' %} " alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="title1">Ensure Business Continuity</div>
						<p>Most small businesses lack the time and resources to develop business continuity plans. 
						Working with a reliable outsourcing company mitigates the risks associated with losing internal staff, 
						as the function and associated business knowledge are not reliant on a single employee.
						</p>
					</div>
				</div>
			</div>
		</div>
		
		{% include "common_footer.html" %}


		<!-- Scripts Required for Flexslider Plugin -->

		<!-- jQuery -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

		<!-- FlexSlider -->
		  	<script defer src="{% static 'assets/js/jquery.flexslider.js' %}"></script>

		  	<script type="text/javascript">
			    $(function(){
			      SyntaxHighlighter.all();
			    });
			    $(window).load(function(){
			      $('.flexslider').flexslider({
			        animation: "slide",
			        start: function(slider){
			          $('body').removeClass('loading');
			        }
			      });
			    });
		  	</script>


		<!-- Syntax Highlighter -->
			<script type="text/javascript" src="{% static 'assets/js/shCore.js' %}"></script>
		  	<script type="text/javascript" src="{% static 'assets/js/shBrushXml.js' %}"></script>
		  	<script type="text/javascript" src="{% static 'assets/js/shBrushJScript.js' %}"></script>

		<!-- Optional FlexSlider Additions -->
		  	<script src="{% static 'assets/js/jquery.easing.js' %}"></script>
		 	<script src="{% static 'assets/js/jquery.mousewheel.js' %}"></script>
		  	<script defer src=" {% static 'assets/js/demo.js' %} "></script>


	</body>
</html>
